<div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <div class="relative">

                <table class="mainTable">

                    <thead>
                    <tr>
                        {% from "parts/macros.html.twig" import thSort %}

                        <th scope="col" class="min-w-[12rem]">{{ thSort('nom', 'Matériel') }}</th>
                        <th scope="col">{{ thSort('proprietaire', 'Propriétaire') }}</th>
                        <th scope="col">{{ thSort('equipeA', 'Equipe') }}</th>
                        <th scope="col">{{ thSort('emprunteur', 'Utilisateur actuel') }}</th>
                        <th scope="col">{{ thSort('equipeB', 'Equipe') }}</th>
                        <th scope="col">{{ thSort('datePret', 'Date de prêt') }}</th>
                        <th scope="col">{{ thSort('dateRetourSouhaitee', 'Date de retour souhaitée') }}</th>
                        <th scope="col">
                            <span class="sr-only">Actions</span>
                        </th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for pret in prets %}

                        <tr>
                            <td>
                                <span class="font-medium !text-gray-900">{{ pret.materiel.nom }}</span>
                                {{ pret.materiel.reference ?? '-' }}
                            </td>
                            <td>{{ pret.materiel.proprietaire ?? "--" }}</td>
                            <td>{{ pret.materiel.proprietaire.equipe ?? '--' }}</td>
                            <td>{{ pret.user }}</td>
                            <td>{{ pret.user.equipe ?? '--' }}</td>
                            <td>{{ pret.datePret | date('d/m/Y') }}</td>
                            <td>{{ pret.dateRetourSouhaitee ? pret.dateRetourSouhaitee | date('d/m/Y') : '--'}}</td>
                            <td class="text-right font-medium sm:pr-3">
                                {% if is_granted('ROLE_MATERIEL_EDIT') %}
                                    <a href="{{ path('materiel_pret', {'id': pret.materiel.id, 'rendu':true}) }}" class="text-teal-600 hover:text-teal-900">Rendre<span class="sr-only">, {{ pret.materiel.nom }}</span></a>
                                {% endif %}
                            </td>
                        </tr>

                    {% else %}
                        <tr>
                            <td colspan="99">Aucun prêt en cours</td>
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
