<div class="max-w-4xl mx-auto">
    <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto">
            <h1 class="text-base font-semibold leading-6 text-gray-900">Historique</h1>
            <p class="mt-2 text-sm text-gray-700">Historique des volumes de stock pour ce chantier.</p>
        </div>
        <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">

        </div>
    </div>
    <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-300">
                        <thead class="bg-gray-50">
                        <tr>
                            <th scope="col"
                                class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">
                                Période
                            </th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                                Catégorie
                            </th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">
                                Sortie
                            </th>
                        </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200 bg-white">

                        {% for periode,data in stats %}
                            {% for categorie,stat in data %}
                            <tr>
                                {% if loop.first %}
                                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6"
                                        rowspan="{{ data|length }}">
                                        {{ periode == '9999-99' ? 'TOTAL' : periode }}
                                    </td>
                                {% else %}
                                    {# <td></td> #}
                                {% endif %}

                                {% if categorie == '_heures' %}
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Heures passées</td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ stat }} h</td>
                                {% else %}
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ categorie??'--' }}</td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ stat|euro }}</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="99">&nbsp;</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
