<div class="max-w-4xl mx-auto">
    <div class="sm:flex sm:items-center">
        <div class="sm:flex-auto flex justify-between">
            <div>
                {#<h1 class="text-base font-semibold leading-6 text-gray-900">Historique</h1>#}
                <p class="mt-2 text-sm text-gray-700">Historique des mouvements de stock pour ce chantier.</p>
            </div>
            <div>
                <input type="search" id="tableSearch" class="rounded shadow border border-gray-200 text-sm" placeholder="Rechercher dans l'historique">
            </div>
        </div>
    </div>
    <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-300">
                        <thead class="bg-gray-50">
                        <tr>
                            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Référence</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 text-right">Quantité</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 text-right">Prix</th>
                        </tr>
                        </thead>

                        <tbody id="tableHistoriqueStock" class="divide-y divide-gray-200 bg-white">

                        {% for panier in chantier.paniers %}
                            <tr>
                                <td colspan="3"
                                    class="whitespace-nowrap py-4 pl-4 pr-3 text-sm text-gray-900 sm:pl-6">

                                    <span class="font-medium">
                                        {{ panier.type == 'entree' ? "Entrée" : "Sortie" }}
                                        par {{ panier.user }}
                                        le {{ panier.date|date('d/m/Y') }}
                                        {# à {{ panier.date|date('H:i') }} #}
                                        {% if panier.poseur %}
                                            pour {{ panier.poseur }}
                                        {% endif %}
                                    </span>

                                    {% if panier.commentaire %}
                                        <br>{{ panier.commentaire }}
                                    {% endif %}

                                    {% if is_granted('ROLE_ADMIN') %}
                                        <br>
                                        <a href="{{ path('panier_edit', {'id': panier.id}) }}">Modifier</a>
                                        <form action="{{ path('panier_del', {'id': panier.id}) }}"
                                              method="POST"
                                              onsubmit="return confirm('Supprimer la sortie ?');">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <button type="submit" class="text-red-600">Supprimer</button>
                                        </form>
                                    {% endif %}

                                </td>
                            </tr>
                            {% for stock in panier.stocks %}
                                <tr>
                                    {% set ref = stock.reference %}
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                        <a href="{{ is_granted('ROLE_REFERENCE_LIST') ? path('reference_show', {id: ref.id}) }}">
                                            {{ ref.reference }} - {{ ref.nom }}
                                        </a>
                                    </td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 text-right">{{ stock.quantite }}</td>
                                    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500 text-right">{{ stock.montant | euro }}</td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <tr><td colspan="3">&nbsp;</td></tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    #tableHistoriqueStock em {
        background-color: yellow;
    }
</style>

<script>
    const table = document.getElementById('tableHistoriqueStock')
    const search = document.getElementById('tableSearch')
    const searchRows = Array.from(table.getElementsByTagName('tr'))

    search.addEventListener('input', () => {
        const query = search.value.toLowerCase()
        searchRows.forEach(row => {
            // row.style.display = ''
            row.innerHTML = row.innerHTML.replace(/<em>(.*?)<\/em>/g, '$1')
        })

        if (query.length < 3) return

        searchRows.forEach(row => {

            const text = row.textContent.toLowerCase()
            // row.style.display = text.includes(query) ? '' : 'none'

            // highlight search
            if (text.includes(query)) {
                const regex = new RegExp(query, 'gi')
                // add new highlights
                row.innerHTML = row.innerHTML.replace(regex, match => `<em>${match}</em>`)
            }
        })
    })
</script>
