<div class="max-w-4xl mx-auto">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">Historique</h1>
      <p class="mt-2 text-sm text-gray-700">Historique des mouvements de stock pour cet chantier.</p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
    
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Référence</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Quantité</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
                
                {% for panier in chantier.paniers %}
                    <tr>
                        <td colspan="99" class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">
                            {{ panier.type == 'entree' ? "Entrée" : "Sortie" }}
                
                            par {{ panier.user }}
                
                            le {{ panier.date|date('d/m/Y') }}
                            à {{ panier.date|date('H:i') }}
                
                            {% if panier.poseur %}
                            pour {{ panier.poseur }}
                            {% endif %}
                
                            {% if panier.commentaire %}
                            <br>{{ panier.commentaire }}
                            {% endif %}
                        </td>
                    </tr>
                    {% for stock in panier.stocks %}
                         <tr class="bg-gray-50">
                             {% set ref = stock.reference %}
                             <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                                 <a href="{{ is_granted('ROLE_REFERENCE_LIST') ? path('reference_show', {id: ref.id}) }}">
                                 {{ ref.reference }} - {{ ref.nom }}
                                 </a>
                             </td>
                             <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{ stock.quantite }}</td>
                         </tr>
                    {% endfor %}
                {% endfor %}
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

