<div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto lg:overflow-visible sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <div class="relative">

                <table class="mainTable">

                    <thead>
                    <tr class="lg:!top-14">
                        {% from "parts/macros.html.twig" import thSort %}

                        <th scope="col" class="min-w-[12rem]">{{ thSort('nom', 'Nom') }}</th>
                        <th scope="col">{{ thSort('refTravaux', 'Ref Travaux') }}</th>
                        <th scope="col">{{ thSort('refBe', 'Ref BE') }}</th>
                        <th scope="col">{{ thSort('cdtTravaux', 'Conducteur de travaux') }}</th>
                        <th scope="col">{{ thSort('enCours', 'En cours') }}</th>
                        <th scope="col">Commentaire</th>
                        <th scope="col">
                            <span class="sr-only">Actions</span>
                        </th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for chantier in chantiers %}

                        <tr>
                            <td class="font-medium !text-gray-900">
                                <a href="{{ path('chantier_show', {'id': chantier.id}) }}">{{ chantier.nom }}</a>
                            </td>
                            <td>{{ chantier.referenceTravaux }}</td>
                            <td>{{ chantier.referenceEtude ?? '-' }}</td>
                            <td>{{ chantier.conducteurTravaux ?? '-' }}</td>
                            <td>{{ chantier.encours ? "OUI" : "NON" }}</td>
                            <td>{{ chantier.commentaire }}</td>
                            <td class="text-right font-medium sm:pr-3">
                                    <a href="{{ path('chantier_show', {'id': chantier.id}) }}" class="text-teal-600 hover:text-teal-900">Afficher<span class="sr-only">, {{ chantier.nom }}</span></a>
                                {% if is_granted('ROLE_CHANTIER_EDIT') %}
                                    <a href="{{ path('chantier_edit', {'id': chantier.id}) }}" class="text-teal-600 hover:text-teal-900">Modifier<span class="sr-only">, {{ chantier.nom }}</span></a>
                                {% endif %}
                            </td>
                        </tr>

                    {% else %}
                        <tr>
                            <td colspan="99">Aucun chantier</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
