{% extends "base.html.twig" %}

{% block content %}

<div class="max-w-2xl mx-auto">

    <div class="md:flex md:items-center md:justify-between md:mb-6">
        <div class="min-w-0 flex-1">
            <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">
                {% if panier.type == 'sortie' %}
                    Sortir du stock
                {% else %}
                    Entrer du stock
                {% endif %}
            </h2>
        </div>
        <div class="mt-4 flex md:ml-4 md:mt-0">
        </div>
    </div>
    
    <form method="post">
    {{ form_widget(form._token) }}
    
    {{ form_errors(form) }}
    
        <div class="bg-gray-50 border border-gray-200 rounded-lg py-6 px-8 mb-8">
            <div class="space-y-4">

                <div>
                    {{ form_label(form.date, 'Date') }}
                    <div class="mt-2">
                        {{ form_widget(form.date) }}
                    </div>
                    <div class="formErrors">
                        {{ form_errors(form.date) }}
                    </div>
                </div>

                {% if panier.type == 'sortie' %}
                <div>
                    {{ form_label(form.poseur, 'Poseur') }}
                    <div class="mt-2">
                        {{ form_widget(form.poseur) }}
                    </div>
                    <div class="formErrors">
                        {{ form_errors(form.poseur) }}
                    </div>
                </div>
                {% endif %}

                <div>
                    {{ form_label(form.chantier, 'Chantier') }}
                    <div class="mt-2">
                        {{ form_widget(form.chantier) }}
                    </div>
                    <div class="formErrors">
                        {{ form_errors(form.chantier) }}
                    </div>
                </div>
                <div>
                    {{ form_label(form.commentaire, 'Commentaire') }}
                    <div class="mt-2">
                        {{ form_widget(form.commentaire, {attr: {class:
                            "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6"
                        }}) }}
                    </div>
                    <div class="formErrors">
                        {{ form_errors(form.commentaire) }}
                    </div>
                </div>

                <div>
                    <div class="flex mt-2 items-end space-x-2">
                        <div class="flex-grow">
                            {{ form_label(form.stock.reference, 'Référence') }}
                            <div>
                                {{ form_widget(form.stock.reference) }}
                            </div>
                        </div>
                        <div>
                            <style>
                                #scanButton:disabled {
                                    cursor: not-allowed;
                                }
                            </style>
                            <button type="button" id="scanButton" class="inline-flex min-w-lg items-center gap-x-2 rounded-md bg-teal-500 px-3.5 py-2 text-sm font-semibold text-white shadow-sm hover:bg-teal-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-500">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5">
                                  <path d="M12 9a3.75 3.75 0 100 7.5A3.75 3.75 0 0012 9z" />
                                  <path fill-rule="evenodd" d="M9.344 3.071a49.52 49.52 0 015.312 0c.967.052 1.83.585 2.332 1.39l.821 1.317c.24.383.645.643 1.11.71.386.054.77.113 1.152.177 1.432.239 2.429 1.493 2.429 2.909V18a3 3 0 01-3 3h-15a3 3 0 01-3-3V9.574c0-1.416.997-2.67 2.429-2.909.382-.064.766-.123 1.151-.178a1.56 1.56 0 001.11-.71l.822-1.315a2.942 2.942 0 012.332-1.39zM6.75 12.75a5.25 5.25 0 1110.5 0 5.25 5.25 0 01-10.5 0zm12-1.5a.75.75 0 100-1.5.75.75 0 000 1.5z" clip-rule="evenodd" />
                                </svg>
                            </button>
                            {# ":disabled" si le navigateur ne supporte pas mediaDevices & BarcodeDetector #}
                        </div>
                    </div>
                    <div class="formErrors">
                        {{ form_errors(form.stock.reference) }}
                    </div>
                </div>

                <div>
                    
                    {{ form_label(form.stock.quantite, 'Quantité') }}
                    <div class="mt-2">
                        {{ form_widget(form.stock.quantite, {attr: {class:
                            "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-teal-600 sm:text-sm sm:leading-6"
                        }}) }}
                    </div>
                    <div class="formErrors">
                        {{ form_errors(form.stock.quantite) }}
                    </div>
                    
                </div>
                
                <div class="mt-4 text-center">
                    <button type="submit"
                            class="inline-flex min-w-lg items-center gap-x-2 rounded-md bg-teal-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-teal-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-500">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="-mr-0.5 h-5 w-5">
                              <path d="M12 1.5a.75.75 0 01.75.75V7.5h-1.5V2.25A.75.75 0 0112 1.5zM11.25 7.5v5.69l-1.72-1.72a.75.75 0 00-1.06 1.06l3 3a.75.75 0 001.06 0l3-3a.75.75 0 10-1.06-1.06l-1.72 1.72V7.5h3.75a3 3 0 013 3v9a3 3 0 01-3 3h-9a3 3 0 01-3-3v-9a3 3 0 013-3h3.75z" />
                            </svg>
                        Ajouter à ma sélection
                    </button>
                </div>
                
            </div>
        </div>
    
    </form>

    <div class="formWrapper">

        <div>
            <h2 class="text-xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Ma sélection</h2>
            
            <table class="mainTable">
                <thead>
                    <tr>
                        <th>Quantité</th>
                        <th>Référence</th>
                        <th>Stock actuel</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in panier.stocks %}
                        <tr>
                            <td>{{ stock.quantite }}</td>
                            <td class="font-medium !text-gray-900">{{ stock.reference }}</td>
                            <td>
                                {{ stock.reference.quantite }}
                                {% if stock.reference.quantite < 0 %}
                                    🛑
                                {% elseif stock.reference.seuil and stock.reference.quantite < stock.reference.seuil %}
                                    ⚠️
                                {% endif %}
                            </td>
                            <td><a href="{{ path('panier_stock_del', {id: panier.id, stock: stock.id}) }}" class="text-teal-600 hover:text-teal-900">Supprimer</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>

        <div class="flex flex-col md:flex-row justify-between items-center mt-6 space-y-2">
            
            <div>
                <form action="{{ path('panier_del', {'id': panier.id}) }}"
                      method="POST"
                      onsubmit="return confirm('Annuler la sélection ?');">
                    <input type="hidden" name="_method" value="DELETE">
                    
                    <button class="inline-flex gap-x-2 rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="-mr-0.5 h-5 w-5 text-teal-500">
                          <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-1.72 6.97a.75.75 0 10-1.06 1.06L10.94 12l-1.72 1.72a.75.75 0 101.06 1.06L12 13.06l1.72 1.72a.75.75 0 101.06-1.06L13.06 12l1.72-1.72a.75.75 0 10-1.06-1.06L12 10.94l-1.72-1.72z" clip-rule="evenodd" />
                        </svg>

                      Annuler la sélection
                    </button>
                    
                </form>
            </div>
    
            <div>
                <form action="{{ path('panier_save', {'id': panier.id}) }}"
                      method="POST"
                      onsubmit="return confirm('Valider la sélection ?');">
                    <button class="inline-flex items-center gap-x-2 rounded-md bg-teal-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-teal-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-500">
                        <svg class="-mr-0.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                          </svg>
                      Valider la sélection
                    </button>
                </form>
            </div>
        
        </div>

    </div>
    
</div>

{# Code Scanner #}
<dialog id="videoDialig">
    <video id="video" width="640" height="480" autoplay></video>
</dialog>

{% endblock content %}

{% block javascripts %}
<script>
    // https://www.jsnow.io/p/javascript/creating-a-real-time-qr-code-scanner-with-vanilla-javascript-part-1
    // https://www.jsnow.io/p/javascript/creating-a-real-time-qr-code-scanner-with-javascript-part-2

    const video = document.querySelector('#video')
    const videoDialog = document.querySelector('#videoDialig')
    const scanButton = document.querySelector('#scanButton')
    const select = document.querySelector('#panier_stock_reference')

    // Check if device has camera
    if (!navigator.mediaDevices || !navigator.mediaDevices.getUserMedia) {
        // Set background color to red
        scanButton.disabled = true;
        console.log('No camera found!')
    }

    // Check if BarcodeDetector is supported
    if (!('BarcodeDetector' in window)) {
        scanButton.disabled = true;
        console.log('BarcodeDetector is not supported by this browser!')
    }


    video.addEventListener("click", () => {
        videoDialog.close()
    });

    videoDialog.addEventListener("close", () => {
        // Stop video stream & scan
        if (video.srcObject) {
            video.srcObject.getTracks().forEach(track => track.stop())
        }

        if (videoDialog.returnValue) {
            select.value = videoDialog.returnValue
            console.log(select.value)
            select.dispatchEvent(new Event('change'))
        }
    })

    // Open the dialog
    scanButton.addEventListener('click', () => {

        if (!videoDialog.open) videoDialog.showModal()
        // Use video without audio
        const constraints = {
            audio: false,
            video: {
                facingMode: 'environment'
            },
        }

        // Start video stream
        console.log('Start video stream')
        navigator.mediaDevices.getUserMedia(constraints)
            .then(stream => video.srcObject = stream)
            .then(() => setInterval(detectCode, 100))
            .catch(err => console.error(err));

        // Create new barcode detector
        // NB: liste des formats possibles : https://developer.mozilla.org/en-US/docs/Web/API/Barcode_Detector
        const barcodeDetector = new BarcodeDetector({ formats: ['qr_code'] });

        // Detect code function
        const detectCode = () => {
            // Start detecting codes on to the video element
            barcodeDetector.detect(video).then(codes => {
                // If no codes exit function
                if (codes.length === 0) return;

                for (const barcode of codes) {
                    // Log the barcode to the console
                    console.log(barcode);

                    // Get the barcode value
                    //select.value = barcode.rawValue
                    //select.setValue([barcode.rawValue])
                    videoDialog.returnValue = barcode.rawValue;

                    videoDialog.close();
                    return;
                }
            }).catch(err => {
                // Log an error if one happens
                console.error(err);
            })
        }


    })
</script>
{% endblock %}


