<div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <div class="relative">

                <table class="mainTable">

                    <thead>
                    <tr>
                        <th scope="col" class="min-w-[12rem]">Nom</th>
                        <th scope="col">Référence</th>
                        <th scope="col">Propriétaire</th>
                        <th scope="col">Utilisateur actuel</th>
                        <th scope="col">
                            <span class="sr-only">Actions</span>
                        </th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for materiel in materiels %}

                        <tr>
                            <td class="font-medium !text-gray-900">{{ materiel.nom }}</td>
                            <td>{{ materiel.reference ?? '-' }}</td>
                            <td>{{ materiel.proprietaire ?? '-' }}</td>
                            <td>{{ materiel.emprunteur ?? '-' }}</td>
                            <td class="text-right font-medium sm:pr-3">
                                {% if is_granted('ROLE_MATERIEL_EDIT') %}
                                    {% if materiel.pret %}
                                        <a href="{{ path('materiel_pret', {'id': materiel.id, 'rendu':true}) }}" class="text-teal-600 hover:text-teal-900">Rendre<span class="sr-only">, {{ materiel.nom }}</span></a>
                                    {% else %}
                                        <a href="{{ path('materiel_pret', {'id': materiel.id}) }}" class="text-teal-600 hover:text-teal-900">Prêter<span class="sr-only">, {{ materiel.nom }}</span></a>
                                    {% endif %}
                                    <a href="{{ path('materiel_show', {'id': materiel.id}) }}" class="text-teal-600 hover:text-teal-900">Afficher<span class="sr-only">, {{ materiel.nom }}</span></a>
                                    <a href="{{ path('materiel_edit', {'id': materiel.id}) }}" class="text-teal-600 hover:text-teal-900">Modifier<span class="sr-only">, {{ materiel.nom }}</span></a>
                                {% endif %}
                            </td>
                        </tr>

                    {% else %}
                        <tr>
                            <td colspan="99">Aucun matériel</td>
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
