<div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto lg:overflow-visible sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <div class="relative">

                <table class="mainTable">

                    <thead>
                    <tr class="lg:!top-14">
                        {% from "parts/macros.html.twig" import thSort %}

                        <th scope="col">{{ thSort('nom', 'Nom') }}</th>
                        <th scope="col">{{ thSort('reference', 'Référence') }}</th>
                        <th scope="col">{{ thSort('categorie', 'Catégorie') }}</th>
                        <th scope="col">{{ thSort('proprietaire', 'Propriétaire') }}</th>
                        <th scope="col">{{ thSort('equipeA', 'Equipe') }}</th>
                        <th scope="col">{{ thSort('emprunteur', 'Utilisateur actuel') }}</th>
                        <th scope="col">{{ thSort('equipeB', 'Equipe') }}</th>
                        <th scope="col">
                            <span class="sr-only">Actions</span>
                        </th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for materiel in materiels %}

                        <tr>
                            <td class="font-medium !text-gray-900">
                                <a href="{{ path('materiel_show', {'id': materiel.id}) }}">
                                    {{ materiel.nom }}
                                </a>
                            </td>
                            <td>{{ materiel.reference ?? '-' }}</td>
                            <td>{{ materiel.categorie ?? '-' }}</td>
                            <td>{{ materiel.proprietaire ?? '-' }}</td>
                            <td>{{ materiel.proprietaire.equipe ?? '-' }}</td>
                            <td>{{ materiel.emprunteur ?? '-' }}</td>
                            <td>{{ materiel.emprunteur.equipe ?? '-' }}</td>
                            <td class="text-right font-medium sm:pr-3">
                                <a href="{{ path('materiel_show', {'id': materiel.id}) }}" class="text-teal-600 hover:text-teal-900">Afficher<span class="sr-only">, {{ materiel.nom }}</span></a>
                                {% if is_granted('ROLE_MATERIEL_EDIT') %}
                                    {% if materiel.pret %}
                                        <a href="{{ path('materiel_pret', {'id': materiel.id, 'rendu':true}) }}" class="text-teal-600 hover:text-teal-900">Rendre<span class="sr-only">, {{ materiel.nom }}</span></a>
                                    {% else %}
                                        <a href="{{ path('materiel_pret', {'id': materiel.id}) }}" class="text-teal-600 hover:text-teal-900">Prêter<span class="sr-only">, {{ materiel.nom }}</span></a>
                                    {% endif %}
                                    <a href="{{ path('materiel_edit', {'id': materiel.id}) }}" class="text-teal-600 hover:text-teal-900">Modifier<span class="sr-only">, {{ materiel.nom }}</span></a>
                                {% endif %}
                            </td>
                        </tr>

                    {% else %}
                        <tr>
                            <td colspan="99">Aucun matériel</td>
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
