{% extends "base.html.twig" %}

{% block title %}Recherche{% endblock %}

{% block content %}

    {% set cpt = 0 %}
    {% set cpt = cpt + chantiers|length %}
    {% set cpt = cpt + materiels|length %}
    {% set cpt = cpt + references|length %}
    {% set cpt = cpt + users|length %}

    <div class="pageHeader">
        <div class="title">
            <h2>{{ cpt }} résultat{{ cpt > 1 ? 's'}} pour <span>"{{ gsearch }}"</span></h2>
        </div>
    </div>

    {% if chantiers|length > 0 %}
    <h2>{{ chantiers|length }} Chantier{{ chantiers|length > 1 ? 's' }}</h2>
    {{ include('chantier/_table.html.twig', { 'chantiers': chantiers }) }}
    {% endif %}

    {% if materiels|length > 0 %}
    <h2>{{ materiels|length }} Matériel</h2>
    {{ include('materiel/_table.html.twig', { 'materiels': materiels }) }}
    {% endif %}

    {% if references|length > 0 %}
    <h2>{{ references|length }} Référence{{ references|length > 1 ? 's' }}</h2>
    {{ include('reference/_table.html.twig', { 'references': references }) }}
    {% endif %}

    {% if users|length > 0 %}
    <h2>{{ users|length }} Utilisateur{{ users|length > 1 ? 's' }}</h2>
    {{ include('user/_table.html.twig', { 'users': users }) }}
    {% endif %}

    {% if epis|length > 0 %}
    <h2>{{ epis|length }} EPI{{ epis|length > 1 ? 's' }}</h2>
    {{ include('epi/_table.html.twig', { 'epis': epis }) }}
    {% endif %}


{% endblock content %}
