<form method="post">
    {{ form_widget(form._token) }}

    {{ form_errors(form) }}

    <div>
    {{ form_label(form.reference, 'Référence', {label_attr: {class:
        "..."
    }}) }}
    {{ form_widget(form.reference, {attr: {class:
        "..."
    }}) }}
    </div>

    <div>
        {{ form_label(form.nom, 'Nom', {label_attr: {class:
            "..."
        }}) }}
        {{ form_widget(form.nom, {attr: {class:
            "..."
        }}) }}
    </div>

    <div>
        {{ form_label(form.conditionnement, 'Conditionnement', {label_attr: {class:
            "..."
        }}) }}
        {{ form_widget(form.conditionnement, {attr: {class:
            "..."
        }}) }}
    </div>

    <div>
        <button>Enregistrer</button>
    </div>

</form>

{% if reference.id %}
    {{ include('reference/_delete_form.html.twig') }}
{% endif %}
