{% extends 'base.html.twig' %}

{% block content %}

    <div class="max-w-2xl mx-auto">

        <div class="md:flex md:items-center md:justify-between mb-8">
            <div class="min-w-0 flex-1">
                <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">
                    {% if reference.id %}
                        {{ reference.reference }}
                    {% else %}
                        Nouvelle référence
                    {% endif %}
                </h2>
            </div>
            <div class="mt-4 flex md:ml-4 md:mt-0">
            </div>
        </div>

        <div class="formWrapper">

            <form method="post">
                {{ form_widget(form._referer) }}
                {{ form_widget(form._token) }}

                {{ form_errors(form) }}

                <div class="space-y-12">

                    <div class="formSection">

                        <div>
                            <h2></h2>
                        </div>

                        <div class="formGrid">

                            <div class="col-span-full">
                                {{ form_label(form.categorie, 'Catégorie') }}
                                <div class="mt-2">
                                    {{ form_widget(form.categorie) }}
                                </div>
                                <div class="formErrors">
                                    {{ form_errors(form.categorie) }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="formSection" id="form_volume">

                        <div>
                            <h2>Informations de volume</h2>
                        </div>

                        <div class="formGrid">

                            <div class="sm:col-span-2">
                                {{ form_label(form.largeur, 'Largeur (mm)') }}
                                <div class="mt-2">
                                    {{ form_widget(form.largeur) }}
                                </div>
                                <div class="formErrors">
                                    {{ form_errors(form.largeur) }}
                                </div>
                            </div>
                            <div class="sm:col-span-2">
                                {{ form_label(form.hauteur, 'Hauteur (mm)') }}
                                <div class="mt-2">
                                    {{ form_widget(form.hauteur) }}
                                </div>
                                <div class="formErrors">
                                    {{ form_errors(form.hauteur) }}
                                </div>
                            </div>
                            <div class="sm:col-span-2">
                                {{ form_label(form.longueur, 'Longueur (m)') }}
                                <div class="mt-2">
                                    {{ form_widget(form.longueur) }}
                                </div>
                                <div class="formErrors">
                                    {{ form_errors(form.longueur) }}
                                </div>
                            </div>

                            <div class="sm:col-span-3">
                                {{ form_label(form.essence, 'Essence') }}
                                <div class="mt-2">
                                    {{ form_widget(form.essence) }}
                                </div>
                                <div class="formErrors">
                                    {{ form_errors(form.essence) }}
                                </div>
                            </div>

                            <div class="sm:col-span-3">
                                {{ form_label(form.prixm3, 'Prix (€/m3)') }}
                                <div class="mt-2">
                                    {{ form_widget(form.prixm3) }}
                                </div>
                                <div class="formErrors">
                                    {{ form_errors(form.prixm3) }}
                                </div>
                            </div>

                            <div class="sm:col-span-2">
                                <label for="calc_volume">Volume (m3)</label>
                                <div class="mt-2">
                                    <input type="number" id="calc_volume" disabled>
                                </div>
                            </div>

                            <div class="sm:col-span-2">
                                <label for="calc_prix">prix (€)</label>
                                <div class="mt-2">
                                    <input type="number" id="calc_prix" disabled>
                                </div>
                            </div>

                            <div class="sm:col-span-2">
                                <label>&nbsp;</label>
                                <button class="mt-2 rounded-md bg-teal-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-teal-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600"
                                        onclick="majDataFromVolume(); return false;">
                                    Appliquer
                                </button>

                            </div>

                        </div>
                    </div>


                    <div class="formSection">

                        <div>
                            <h2>Détail de la référence</h2>
                        </div>

                        <div class="formGrid">

                            <div class="col-span-full">
                                {{ form_label(form.nom, 'Nom') }}
                                <div class="mt-2">
                                    {{ form_widget(form.nom) }}
                                </div>
                                <div class="formErrors">
                                    {{ form_errors(form.nom) }}
                                </div>
                            </div>

                            <div class="col-span-full">
                                {{ form_label(form.reference, 'Référence') }}
                                <div class="mt-2">
                                    {{ form_widget(form.reference) }}
                                </div>
                                <div class="formErrors">
                                    {{ form_errors(form.reference) }}
                                </div>
                            </div>

                            <div class="col-span-full">
                                {{ form_label(form.marque, 'Marque') }}
                                <div class="mt-2">
                                    {{ form_widget(form.marque) }}
                                </div>
                                <div class="formErrors">
                                    {{ form_errors(form.marque) }}
                                </div>
                            </div>

                            <div class="col-span-full">
                                {{ form_label(form.prix, 'Prix') }}
                                <div class="mt-2">
                                    {{ form_widget(form.prix) }}
                                </div>
                                <div class="formErrors">
                                    {{ form_errors(form.prix) }}
                                </div>
                            </div>

                            <div class="col-span-full">
                                {{ form_label(form.codeComptaCompte, 'Compta : code compte') }}
                                <div class="mt-2">
                                    {{ form_widget(form.codeComptaCompte) }}
                                </div>
                                <div class="formErrors">
                                    {{ form_errors(form.codeComptaCompte) }}
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="formSection">
                        <div>
                            <h2>Informations de stock</h2>
                        </div>

                        <div class="formGrid">

                            <div class="sm:col-span-3">
                                {{ form_label(form.conditionnement, 'Conditionnement') }}
                                <div class="mt-2">
                                    {{ form_widget(form.conditionnement) }}
                                </div>
                                <div class="formErrors">
                                    {{ form_errors(form.conditionnement) }}
                                </div>
                            </div>

                            <div class="sm:col-span-3">
                                {{ form_label(form.seuil, 'Seuil d\'alerte') }}
                                <div class="mt-2">
                                    {{ form_widget(form.seuil) }}
                                </div>
                                <div class="formErrors">
                                    {{ form_errors(form.seuil) }}
                                </div>
                            </div>

                            <div class="col-span-full">
                                {% set label = reference.id ? "Stock actuel" : "Stock initial" %}
                                {{ form_label(form.quantite, label) }}
                                <div class="mt-2">
                                    {# Gestion du stock initial pour tout le monde #}
                                    {# MAJ du stock pour ceux qui ont les droits seulement #}
                                    {% set readonly = true %}
                                    {% if not reference.id or is_granted('ROLE_REFERENCE_STOCK') %}
                                        {% set readonly = false %}
                                    {% endif %}
                                    {{ form_widget(form.quantite, {attr: {'readonly': readonly}}) }}
                                </div>
                                <div class="formErrors">
                                    {{ form_errors(form.quantite) }}
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

                <div class="mt-6 flex items-center justify-end gap-x-6">
                    <button type="submit"
                            class="rounded-md bg-teal-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-teal-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600">
                        Enregistrer
                    </button>
                </div>
            </form>

            {% if reference.id %}
                <form method="post" action="{{ path('reference_delete', {'id': reference.id}) }}"
                      onsubmit="return confirm('Supprimer cette référence ?');" class="contents">
                    <button class="text-teal-600 hover:text-teal-900">Supprimer<span class="sr-only">, {{ reference.nom }}</span></button>
                </form>
            {% endif %}


        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        // Sélection automatique du code comptable en fonction de la catégorie
        const src = document.querySelector('select#reference_categorie');
        const dst = document.querySelector('select#reference_codeComptaCompte');
        // On change SRC => update DST with data-code
        src.addEventListener('change', function () {
            dst.value = this.options[this.selectedIndex].dataset.code;
        });


        // Affichage section volume suivant la carégorie
        // Catéories : charpente, charpente douglas, ossature, lamellés
        const form_volume = document.querySelector('#form_volume');
        const form_categorie = document.querySelector('select#reference_categorie');
        function showVolumeForm() {
            const display = ['CHARPENTE', 'CHARPENTE DOUGLAS', 'OSSATURE', 'LAMELLES'].includes(form_categorie.value);
            form_volume.style.display = display ? 'grid' : 'none';
            // Champs obligatoires si affichés
            form_volume.querySelectorAll('input, select').forEach(f => f.required = display);
        }
        form_categorie.addEventListener('change', showVolumeForm);
        showVolumeForm.call();

        // Calcul du volume et du prix
        const largeur = document.querySelector('input#reference_largeur');
        const hauteur = document.querySelector('input#reference_hauteur');
        const longueur = document.querySelector('input#reference_longueur');
        const volume = document.querySelector('input#calc_volume');
        const prixm3 = document.querySelector('input#reference_prixm3');
        const essence = document.querySelector('select#reference_essence');
        const prix = document.querySelector('input#calc_prix');
        const target_prix = document.querySelector('input#reference_prix');
        const target_reference = document.querySelector('input#reference_reference');
        const target_nom = document.querySelector('input#reference_nom');

        function updateVolume() {
            const l = parseFloat(largeur.value)  || 0;
            const h = parseFloat(hauteur.value)  || 0;
            const L = parseFloat(longueur.value) || 0;
            const p = parseFloat(prixm3.value)   || 0;
            const v = l * h * L / 1000000;
            const p2 = v * p;
            volume.value = goodRound(v, 5);
            prix.value = goodRound(p2, 2);
            //console.log(l, h, L, p, v, p2);
        }

        largeur.addEventListener('input', updateVolume);
        hauteur.addEventListener('input', updateVolume);
        longueur.addEventListener('input', updateVolume);
        prixm3.addEventListener('input', updateVolume);
        essence.addEventListener('input', (e) => {
            // On récupère le prix au m3 de l'essence
            prixm3.value = e.target.options[e.target.selectedIndex].dataset.prixm3 ?? null;
            updateVolume();
        });
        updateVolume();

        function majDataFromVolume() {
            target_prix.value = prix.value;
            target_reference.value = `${essence.value.substr(0, 1).toUpperCase()}${largeur.value}X${hauteur.value}/${longueur.value}m`;
            target_nom.value = `${largeur.value}x${hauteur.value}mm ${longueur.value}m ${essence.value}`;
        }

        // JS cant round float numbers...
        function goodRound(value, decimals) {
            return Number(Math.round(value+'e'+decimals)+'e-'+decimals);
        }


    </script>
{% endblock %}
