{% extends 'base.html.twig' %}

{% block title %}reference index{% endblock %}

{% block content %}

    <style>
        .xx_dropdown {
            position: relative;
            display: inline-block;
        }

        .xx_dropdown-content {
            display: none;
            position: absolute;
            top: 0;
            background-color: #f9f9f9;
            min-width: 160px;
            border: 1px solid #ddd;
            z-index: 1;
        }

        .xx_dropdown:hover .xx_dropdown-content {
            display: block;
        }

    </style>

    <div class="pageHeader">
      <div class="title">
        <h2>Gestion des stocks</h2>
      </div>
      <div class="buttons">
        {% if is_granted('ROLE_REFERENCE_EDIT') %}
            <div class="borderedButton xx_dropdown">
                Catalogue
                <div class="xx_dropdown-content">
                    <a href="{{ path('reference_catalogue') }}" class="borderedButton" target="_blank">Toutes catégories</a>
                    {% for cat in getCategories() %}
                        <a href="{{ path('reference_catalogue', {categorie: cat}) }}" class="borderedButton" target="_blank">{{ cat }}</a>
                    {% endfor %}
                </div>
            </div>
            <a href="{{ path('reference_new') }}" class="borderedButton">Ajouter une référence</a>
        {% endif %}

        {% if is_granted('ROLE_REFERENCE_STOCK') %}
            <a href="{{ path('panier_new',{type:'entree'}) }}" class="button">Ajouter du stock</a>
            <a href="{{ path('panier_new',{type:'sortie'}) }}" class="button">Sortir du stock</a>
        {% endif %}

      </div>
    </div>

    {{ include('reference/_table.html.twig', { references: references }) }}
    {{ include('parts/pagination.html.twig', {search: search}) }}

{% endblock %}
