{% extends 'base.html.twig' %}

{% block title %}reference{% endblock %}

{% block content %}
    <h1>reference</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Reference</th>
                <td>{{ reference.reference }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ reference.nom }}</td>
            </tr>
            <tr>
                <th>Marque</th>
                <td>{{ reference.marque }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ reference.quantite }}</td>
            </tr>
            <tr>
                <th>Conditionnement</th>
                <td>{{ reference.conditionnement }}</td>
            </tr>
            <tr>
                <th>Seuil</th>
                <td>{{ reference.seuil }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('reference_index') }}">back to list</a>

    {% if is_granted('ROLE_REFERENCE_EDIT') %}
    <a href="{{ path('reference_edit', {'id': reference.id}) }}">edit</a>
    {% endif %}

    {{ include('reference/_historique_stock.html.twig') }}

{% endblock %}
