{% extends "base.html.twig" %}

{% block content %}

<form method="post">
    {{ form_widget(form._token) }}

    {{ form_errors(form) }}

    <div>
        {{ form_label(form.reference, 'Référence', {label_attr: {class:
            "..."
        }}) }}
        {{ form_widget(form.reference, {attr: {class:
            "..."
        }}) }}
    </div>

    <div>
        {{ form_label(form.type, 'Type', {label_attr: {class:
            "..."
        }}) }}
        {{ form_widget(form.type, {attr: {class:
            "..."
        }}) }}
    </div>

    <div>
        {{ form_label(form.quantite, 'Quantité', {label_attr: {class:
            "..."
        }}) }}
        {{ form_widget(form.quantite, {attr: {class:
            "..."
        }}) }}
    </div>

    <div>
        <button>Enregistrer</button>
    </div>

</form>

{% endblock %}
