{% extends "base.html.twig" %}

{% block content %}

<div class="md:flex md:items-center md:justify-between mb-8">
  <div class="min-w-0 flex-1">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Ajouter du stock</h2>
  </div>
  <div class="mt-4 flex md:ml-4 md:mt-0">
  </div>
</div>

<div class="formWrapper">
    
    <form method="post">
        {{ form_widget(form._token) }}
    
        {{ form_errors(form) }}
        
        <div class="space-y-12">
            <div class="formSection">
                
                <div>
                    <h2>Référence à ajouter</h2>
                </div>
                
                <div class="formGrid">
                    
                    <div class="col-span-full">
                        {{ form_label(form.reference, 'Référence', {label_attr: {class:
                            ""
                        }}) }}
                      <div class="mt-2">
                          {{ form_widget(form.reference, {attr: {class:
                              ""
                          }}) }}
                            </div>
                        <div class="formErrors">
                          {{ form_errors(form.reference) }}
                        </div>
                    </div>
                          
                          <div class="col-span-full">
                                {{ form_label(form.quantite, 'Quantité', {label_attr: {class:""}}) }}
                              <div class="mt-2">
                                  {{ form_widget(form.quantite, {attr: {class:
                                      ""
                                  }}) }}
                                    </div>
                                <div class="formErrors">
                                  {{ form_errors(form.quantite) }}
                                    </div>
                            </div>
            
                  
                </div>
          </div>
          
        </div>
        
        <div class="mt-6 flex items-center justify-end gap-x-6">
          <button type="submit" class="rounded-md bg-teal-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-teal-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600">Enregistrer</button>
        </div>
    
    </form>

</div>

{% endblock %}
