{% if intervention.id > 0 %}
    {% set action = path('planning_edit', {id: intervention.id}) %}
{% else %}
    {% set action = path('planning_new') %}
{% endif %}


<form method="post" action="{{ action }}">

    {{ form_widget(form._token) }}
    {{ form_errors(form) }}

    <div class="p-8">
        <div class="formSection">

            <div>
                <h2>Détail de l'intervention</h2>
            </div>

            <div class="formGrid">

                <div class="col-span-full">
                    {{ form_label(form.date, 'Date') }}
                    <div class="mt-2">
                        {{ form_widget(form.date) }}
                    </div>
                </div>

                <div class="col-span-full">
                    {{ form_label(form.poseur, 'Poseur') }}
                    <div class="mt-2">
                        {{ form_widget(form.poseur) }}
                    </div>
                </div>

                <div class="col-span-full">
                    {{ form_label(form.activite, 'Activité') }}
                    <div class="mt-2">
                        {{ form_widget(form.activite) }}
                    </div>
                </div>

                <div class="col-span-full">
                    {{ form_label(form.chantier, 'Chantier') }}
                    <div class="mt-2">
                        {{ form_widget(form.chantier) }}
                    </div>
                </div>

                <div class="col-span-full">
                    {{ form_label(form.type, 'Type d\'intervention') }}
                    <div class="mt-2">
                        {{ form_widget(form.type) }}
                    </div>
                </div>

                <div class="col-span-full">
                    {{ form_label(form.heuresPlanifiees, 'Heures planifiées') }}
                    <div class="mt-2">
                        {{ form_widget(form.heuresPlanifiees) }}
                    </div>
                </div>

                <div class="col-span-full">
                    {{ form_label(form.heuresPassees, 'Heures passées') }}
                    <div class="mt-2">
                        {{ form_widget(form.heuresPassees) }}
                    </div>
                </div>

            </div>
        </div>

        {% if intervention.id == 0 %}
            <div class="formSection">

                <div>
                    <h2>Planning</h2>
                </div>

                <div class="formGrid">

                    <div class="col-span-full">
                        <label>Répéter sur la semaine</label>
                        <div class="mt-2">
                            {% set jours = { 1:'Lundi', 2:'Mardi', 3:'Mercredi', 4:'Jeudi', 5:'Vendredi', 6:'Samedi'} %}

                            {% for j,jour in jours %}
                                <input type="checkbox"
                                       id="dupliquer_{{ j }}"
                                       name="dupliquer[]"
                                        {% if intervention.date|date('N') == j %}
                                       checked disabled
                                        {% endif %}
                                       value="{{ j }}">
                                <label for="dupliquer_{{ j }}">{{ jour }}</label>
                            {% endfor %}
                            {# On "coche" manuellement le jour J, car le checkbox disabled n'est pas pris en compte #}
                            <input type="hidden" name="dupliquer[]" value="{{ intervention.date|date('N') }}">
                        </div>
                    </div>

                    <div class="col-span-full">
                        <label>Répéter sur l'équipe</label>
                        <div class="mt-2">
                            <input type="radio" id="equipe0" name="dupliquer_equipe" value="0" checked>
                            <label for="equipe0">Poseur seulement</label>
                            <input type="radio" id="equipe1" name="dupliquer_equipe" value="1">
                            <label for="equipe1">Toute l'équipe</label>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            {# En modification, on ne "duplique" que sur le jour de l'intervention #}
            <input type="hidden" name="dupliquer[]" value="{{ intervention.date|date('N') }}">
            {# En modification, on ne "duplique" pas sur toute l'équipe #}
            <input type="hidden" name="dupliquer_equipe" value="0">
        {% endif %}

        <div class="mt-6 flex items-center justify-end gap-x-6 bg-gray-100 p-8">
{#        <button type="button"#}
{#                onclick="this.closest('dialog').close();"#}
{#                class="rounded-md bg-teal-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-teal-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600">#}
{#            Annuler#}
{#        </button>#}
            <button type="submit"
                    class="rounded-md bg-teal-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-teal-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600">
                Enregistrer
            </button>
        </div>
    </div>
</form>

{# Form distinct #}
<form method="post" action="{{ path('planning_delete', {id: intervention.id}) }}">
    {% if intervention.id and (is_granted('ROLE_PLANNING_EDIT') or app.user.chefEquipe) %}
        <button type="submit"
                onclick="return confirm('Supprimer cette intervention ?');"
                class="rounded-md bg-teal-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-teal-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600">
            Supprimer
        </button>
    {% endif %}
</form>
