{% if intervention.id > 0 %}
    {% set action = path('planning_edit', {id: intervention.id}) %}
{% else %}
    {% set action = path('planning_new') %}
{% endif %}

<form method="post" action="{{ action }}">

    {{ form_widget(form._token) }}
    {{ form_errors(form) }}

    <div class="p-8">
        <div class="formSection">

            <div>
                <h2>Détail de l'intervention</h2>
            </div>

            <div class="formGrid">

                <div class="col-span-full">
                    {{ form_label(form.date, 'Date') }}
                    <div class="mt-2">
                        {{ form_widget(form.date) }}
                    </div>
                </div>

                <div class="col-span-full">
                    {{ form_label(form.poseur, 'Poseur') }}
                    <div style="display: none">
                        {{ form_widget(form.poseur) }}
                    </div>
                    <div class="mt-2">
                        <input type="text" readonly value="{{ intervention.poseur }}">
                    </div>
                </div>

                <div class="col-span-full">
                    {{ form_label(form.activite, 'Activité') }}
                    {% if form.activite.vars.attr.readonly??false %}
                        <div class="mt-2" style="display: none">
                            {{ form_widget(form.activite) }}
                        </div>
                        <input type="text" readonly value="{{ intervention.activite }}">
                    {% else %}
                        <div class="mt-2">
                            {{ form_widget(form.activite) }}
                        </div>
                    {% endif %}
                </div>

                <div class="col-span-full">
                    {{ form_label(form.chantier, 'Chantier') }}
                    {% if form.chantier.vars.attr.readonly??false %}
                        <div class="mt-2" style="display: none">
                            {{ form_widget(form.chantier) }}
                        </div>
                        <input type="text" readonly value="{{ intervention.chantier }}">
                    {% else %}
                        <div class="mt-2">
                            {{ form_widget(form.chantier) }}
                        </div>
                    {% endif %}
                </div>

                <div class="col-span-full">
                    {{ form_label(form.type, 'Type d\'intervention') }}
                    <div class="mt-2">
                        {{ form_widget(form.type) }}
                    </div>
                </div>

                {% if is_granted('ROLE_PLANNING_EDIT') or app.user.chefEquipe %}
                    <div class="col-span-full">
                        {{ form_label(form.heuresPlanifiees, 'Heures planifiées') }}
                        <div class="mt-2">
                            {{ form_widget(form.heuresPlanifiees) }}
                        </div>
                        {# type:'hidden' est ignoré :/ #}
                        {{ form_widget(form.heuresPassees, {attr: {type:'hidden', style:'display:none'}}) }}
                    </div>
                {% else %}
                    <div class="col-span-full">
                        {{ form_label(form.heuresPlanifiees, 'Heures planifiées') }}
                        {% set attr = {readonly:true, value: intervention.id==0 ? 0 : intervention.heuresPlanifiees} %}
                        {# <input type="hidden" name="intervention[heuresPlanifiees]" value="0">#}
                        {{ form_widget(form.heuresPlanifiees, {attr: attr}) }}
                    </div>

                    {% if intervention.id == 0 %}
                        <div class="col-span-full">
                            {# Création => on gère les heures passées directement ici #}
                            {{ form_label(form.heuresPassees, 'Heures passées') }}
                            <div class="mt-2">
                                {{ form_widget(form.heuresPassees) }}
                            </div>
                        </div>
                    {% else %}
                        {{ form_widget(form.heuresPassees, {attr: {type:'hidden', style:'display:none'}}) }}
                    {% endif %}
                {% endif %}

                <div class="col-span-full">
                    {{ form_label(form.commentaire, 'Commentaire') }}
                    <div class="mt-2">
                        {{ form_widget(form.commentaire) }}
                    </div>
                </div>


            </div>
        </div>

        {# Mode création && droit d'édition => gestion des interventions multiples #}
        {% if intervention.id == 0 and (is_granted('ROLE_PLANNING_EDIT') or app.user.chefEquipe) %}
            <div class="formSection">

                <div>
                    <h2>Planning</h2>
                </div>

                <div class="formGrid">

                    <div class="col-span-full">
                        <label>Répéter sur la semaine</label>
                        <div class="mt-2">
                            {% set jours = { 1:'Lundi', 2:'Mardi', 3:'Mercredi', 4:'Jeudi', 5:'Vendredi', 6:'Samedi'} %}

                            {% for j,jour in jours %}
                                <input type="checkbox"
                                       id="dupliquer_jours_{{ j }}"
                                       name="dupliquer_jours[]"
                                       {% if intervention.date|date('N') == j %} checked disabled {% endif %}
                                       value="{{ j }}">
                                <label for="dupliquer_jours_{{ j }}">{{ jour }}</label>
                            {% endfor %}
                            {# On "coche" manuellement le jour J, car le checkbox disabled n'est pas pris en compte #}
                            <input type="hidden" name="dupliquer_jours[]" value="{{ intervention.date|date('N') }}">
                        </div>
                    </div>

                    {% if intervention.poseur.equipe %}
                    <div class="col-span-full">
                        <label>Répéter sur l'équipe</label>
                        <div class="mt-2">
                            {% for p in poseursEquipe %}
                                <input type="checkbox"
                                       id="dupliquer_poseurs_{{ p.id }}"
                                       name="dupliquer_poseurs[]"
                                        {% if intervention.poseur.id == p.id %}
                                            checked disabled
                                        {% else %}
                                            data-checkable="1"
                                        {% endif %}
                                       value="{{ p.id }}">
                                <label for="dupliquer_poseurs_{{ p.id }}">{{ p.nom }}</label>
                            {% endfor %}
                            {# On "coche" manuellement le jour J, car le checkbox disabled n'est pas pris en compte #}
                            <input type="hidden" name="dupliquer_poseurs[]" value="{{ intervention.poseur.id }}">
                            <input type="checkbox"
                                   id="dupliquer_poseurs_equipe"
                                   name="dupliquer_poseurs[]"
                                   value="equipe">
                            <label for="dupliquer_poseurs_equipe">Tout l'équipe</label>
                            <input type="checkbox"
                                   id="dupliquer_poseurs_all"
                                   name="dupliquer_poseurs[]"
                                   value="all">
                            <label for="dupliquer_poseurs_all">Tout le monde</label>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
        {% elseif intervention.id == 0 %}
            {# Mode création mais sans les droits => pas le choix, intervention unique #}
{#            <input type="hidden" name="dupliquer_poseurs[]" value="{{ intervention.poseur.id }}">#}
{#            <input type="hidden" name="dupliquer_jours[]" value="{{ intervention.date|date('N') }}">#}
        {% endif %}

        <div class="mt-6 flex items-center justify-end gap-x-6 bg-gray-100 p-8">
            {% if intervention.parent %}
            <button type="submit"
                    name="all" value="1"
                    class="rounded-md bg-teal-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-teal-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600">
                Enregistrer chaine intervention
            </button>
            {% endif %}
            <button type="submit"
                    name="all" value="0"
                    class="rounded-md bg-teal-500 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-teal-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600">
                {% if intervention.id == 0 %}
                    {# Création #}
                    Enregistrer
                {% elseif intervention.parent %}
                    {# Modification chaine #}
                    Enregistrer intervention unique
                {% else %}
                    {# Modification simple #}
                    Enregistrer
                {% endif %}
            </button>
        </div>
    </div>
</form>

{% if intervention.id > 0 %}

    {# Formulaire enregistrement des heures #}
    {{ include('planning/edit_heures.html.twig') }}

    {# Formulaire suppression intervention #}
    {{ include('planning/edit_delete.html.twig') }}

{% endif %}
