{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block content %}

    <div class="pageHeader sticky top-0 z-10 bg-gray-100 py-3 px-3 lg:px-0 -mx-4 lg:mx-0 space-y-2">
        <div class="title">
            <h2>Planning</h2>
        </div>

        <div class="flex justify-around lg:justify-end lg:gap-2">
            {% set route = app.request.get('_route') %}
            {% set params = app.request.query.all %}

            <a class="borderedButton" href="{{ path(route, search.semainePrecedente) }}">
                <span class="lg:hidden">&lt; S</span>
                <span class="hidden lg:inline">Semaine précédente</span>
            </a>

            <a class="borderedButton" href="{{ path(route, search.semaineCourante) }}">
                <span class="lg:hidden">S</span>
                <span class="hidden lg:inline">Semaine courante</span>
            </a>
            <a class="borderedButton" href="{{ path(route, search.semaineSuivante) }}">
                <span class="lg:hidden">S &gt;</span>
                <span class="hidden lg:inline">Semaine suivante</span>
            </a>

            |
            {% if search.plage == 1 %}
            <a class="borderedButton" href="{{ path(route, params|merge({plage:2})) }}">
                <span class="lg:hidden">2S</span>
                <span class="hidden lg:inline">2 semaines</span>
            </a>
                {% else %}
            <a class="borderedButton" href="{{ path(route, params|merge({plage:1})) }}">
                <span class="lg:hidden">1S</span>
                <span class="hidden lg:inline">1 semaine</span>
            </a>
            {% endif %}

        </div>
    </div>

    {# planning/planning.html.twig #}
    <twig:planning
            interventions="{{ interventions }}"
            search="{{ search }}">
    </twig:planning>

{% endblock %}
