{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block content %}

    <div class="pageHeader sticky top-0 z-10 bg-gray-100 py-3">
        <div class="title">
            <h2>Planning</h2>
        </div>

        <div class="buttons">
            {% set route = app.request.get('_route') %}
{#            {% set params = app.request.query.all | filter((v,k) => (k != 'semaine' and k != 'mois')) %}#}

            <a class="borderedButton" href="{{ path(route, search.moisPrecedent) }}">Mois précédent</a>
            <a class="borderedButton" href="{{ path(route, search.semainePrecedente) }}">Semaine précédente</a>

            <a class="borderedButton" href="{{ path(route) }}">Semaine courante</a>
            <a class="borderedButton" href="{{ path(route, {mois: 'now'|date('m')}) }}">Mois courant</a>

            <a class="borderedButton" href="{{ path(route, search.semaineSuivante) }}">Semaine suivante</a>
            <a class="borderedButton" href="{{ path(route, search.moisSuivant) }}">Mois suivant</a>
        </div>
    </div>

    {# planning/planning.html.twig #}
    <twig:planning
            interventions="{{ interventions }}"
            search="{{ search }}">
    </twig:planning>

{% endblock %}
