<div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <div class="relative">

                <table class="relative planning text-sm">

                    <thead>
                        <tr class="divide-gray-200 divide-x ">
                            <th scope="col" class="!text-right font-normal w-1/6 px-3 py-1">Heures<br><span class="text-xs">Passées / Planifiées</span></th>
                            {% for date in dates %}
                                <th scope="col" class="bg-white border-b border-gray-300 w-1/6">
                                    {{ date|format_datetime(pattern="eeee dd/MM", locale="fr") }}
                                </th>
                            {% endfor %}
                        </tr>
                    </thead>

                    <tbody class="divide divide-gray-200 divide-y">
                    {% for poseur in poseurs %}
                        <tr class="divide-gray-200 divide-x odd:bg-gray-600/5">
                            <td class="flex justify-between items-center gap-2 font-medium !text-gray-900 text-sm">
                                <div>
                                    <span class="inline-block text-xs uppercase bg-teal-500 text-white rounded px-1 mr-1">{{ poseur.equipe }}</span><br>{{ poseur }}
                                </div>
                                <div class="font-medium !text-gray-900 text-xs">
                                    <span title="{{ totalHeuresPasseesPoseurs[poseur.id] }}h passée">{{ totalHeuresPasseesPoseurs[poseur.id] }}h</span>
                                    {{ totalHeuresPasseesPoseurs[poseur.id] > 39 ? '⚠️' }}
                                    /
                                    <span title="{{ totalHeuresPlanifieesPoseurs[poseur.id] }}h planifiées">{{ totalHeuresPlanifieesPoseurs[poseur.id] }}h</span>
                                    {{ totalHeuresPlanifieesPoseurs[poseur.id] > 39 ? '⚠️' }}
                                </div>
                            </td>
                            {% for k,date in dates %}
                                <td class="bg-white/70">
                                    <div class="w-full min-h-full flex flex-col gap-2 justify-start">
                                        {% for intervention in interventions[poseur.id][k]??[] %}
                                            <button class="showInterventionButton bg-gray-100 border border-gray-200 text-teal-500 px-2 py-1 rounded transition-all hover:bg-teal-500 hover:text-white hover:border-teal-500"
                                               data-disabled="{{ date.valide }}"
                                               data-intervention="{{ intervention.id }}">
                                                {% if intervention.activite == 'chantier' %}
                                                    {{ intervention.chantier }}
                                                    - {{ intervention.type }}
                                                {% else %}
                                                    {{ intervention.activite }}
                                                {% endif %}
                                                - {{ intervention.heuresPlanifiees }}h
                                            </button>
                                        {% endfor %}
    
                                        {% if is_granted('ROLE_PLANNING_EDIT') or app.user.chefEquipe %}
                                        {% if not date.valide %}
                                            <button
                                                    data-date="{{ date|format_datetime(pattern="yyyy-MM-dd") }}"
                                                    data-disabled="{{ date.valide }}"
                                                    data-poseur="{{ poseur.id }}"
                                                    class="addInterventionButton rounded px-2 py-1 border border-dashed border-gray-200 text-gray-400 transition-all hover:border-gray-400 hover:text-teal-500">+ Ajouter</button>
                                        {% else %}
                                        
                                        {% endif %}
                                        {% endif %}
                                    </div>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}


                    {# Valider les heures #}
                    {% if is_granted('ROLE_PLANNING_EDIT') or app.user.chefEquipe %}
                    <tr>
                        <td class="text-right"></td>
                        {% for k,date in dates %}
                            <td>
                                <form action="{{ path('planning_valider') }}"
                                      onsubmit="return confirm('{{ date.valide ? 'Dévalider' : 'Valider' }} ?')"
                                      method="post">
                                    <input type="hidden" name="date" value="{{ date|format_datetime(pattern="yyyy-MM-dd") }}">
                                    {% if date.valide %}
                                        <p class="text-center text-gray-500">Journée validée (<button type="submit" name="valider" value="0" class="underline">Dévalider</button>)</p>
                                    {% else %}
                                        <button type="submit" name="valider" value="1" class="group px-2 py-1 bg-white rounded border border-gray-300 w-full transition-all hover:bg-teal-500 hover:text-white hover:border-teal-500">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="inline w-5 h-5 text-teal-500 transition-all group-hover:text-white">
                                              <path fill-rule="evenodd" d="M19.916 4.626a.75.75 0 0 1 .208 1.04l-9 13.5a.75.75 0 0 1-1.154.114l-6-6a.75.75 0 0 1 1.06-1.06l5.353 5.353 8.493-12.74a.75.75 0 0 1 1.04-.207Z" clip-rule="evenodd" />
                                            </svg>
                                            Valider la journée</button>
                                    {% endif %}
                                </form>
                            </td>
                        {% endfor %}
                    </tr>
                    {% endif %}

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


<dialog onclick="event.target===this && this.close()" class="formWrapper w-full max-w-4xl rounded-3xl shadow-xl">
    {# planning/edit.html.twig #}
</dialog>

<script>
    const modal = document.querySelector('dialog');
    const addButtons = document.querySelectorAll('.addInterventionButton:not([data-disabled="true"])');
    const showButtons = document.querySelectorAll('.showInterventionButton');

    addButtons.forEach(button => {
        button.addEventListener('click', () => {
            const date = button.dataset.date;
            const poseur = button.dataset.poseur;
            fetch('{{ path('planning_new') }}' + '?date='+date+'&poseur='+poseur)
                .then(response => response.text())
                .then(html => modal.innerHTML = html)
                .then(() => modal.showModal())
                .then(() => toto())
        });
    });

    showButtons.forEach(button => {
        button.addEventListener('click', () => {
            const id = button.dataset.intervention;
            const disabled = button.dataset.disabled;
            fetch('{{ path('planning_edit', {id:'XX'}) }}'.replace('XX', id))
                .then(response => response.text())
                .then(html => modal.innerHTML = html)
                .then(() => modal.showModal())
                .then(() => toto())
                .then(() => {
                    if (disabled) {
                        modal.querySelector('form').querySelectorAll('input,select,textarea,button').forEach(input => input.disabled = true);
                        modal.querySelector('form').querySelectorAll('button').forEach(input => input.style.display = 'none');
                    }
                })
        });
    });

    function toto() {
        const activite = modal.querySelector('#intervention_activite');
        const poseur = modal.querySelector('#intervention_poseur');
        const chantier = modal.querySelector('#intervention_chantier');
        const types = modal.querySelectorAll('[name="intervention[type]"]');
        chantier.tomselect.on ('change', () => chantier.tomselect.blur());
        poseur.tomselect.on ('change', () => poseur.tomselect.blur());
        activite.addEventListener('change', function () {
            if (activite.value === 'chantier') {
                chantier.disabled = false;
                types.forEach(type => {
                    type.disabled = false;
                    type.required = true;
                });
            } else {
                chantier.tomselect.clear();
                chantier.disabled = true;
                types.forEach(type => {
                    type.checked = false;
                    type.disabled = true;
                    type.required = false;
                });
            }
        });
        activite.dispatchEvent(new Event('change'));
    }
</script>
