<div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <div class="relative">

                <table class="mainTable">

                    <thead>
                    <tr>
                        <th scope="col" class="min-w-[12rem]">Equipe</th>
                        <th scope="col" class="min-w-[12rem]">Poseurs</th>
                        <th scope="col">Heures planifiées</th>
                        <th scope="col">Heures passées</th>
                        {% for date in dates %}
                            <th scope="col">
                                {{ date|format_datetime(pattern="eeee dd/MM", locale="fr") }}
                            </th>
                        {% endfor %}
                    </tr>
                    </thead>

                    <tbody>
                    {% for poseur in poseurs %}
                        <tr>
                            <td class="font-medium !text-gray-900">{{ poseur.equipe }}</td>
                            <td class="font-medium !text-gray-900">{{ poseur }}</td>
                            <td class="font-medium !text-gray-900">
                                {{ totalHeuresPlanifieesPoseurs[poseur.id] }}h
                                {{ totalHeuresPlanifieesPoseurs[poseur.id] > 39 ? '⚠️' }}
                            </td>
                            <td class="font-medium !text-gray-900">
                                {{ totalHeuresPasseesPoseurs[poseur.id] }}h
                                {{ totalHeuresPasseesPoseurs[poseur.id] > 39 ? '⚠️' }}
                            </td>
                            {% for k,date in dates %}
                                <td>
                                    {% for intervention in interventions[poseur.id][k]??[] %}
                                        <p class="showInterventionButton"
                                           style="cursor:pointer; border: 1px solid black;"
                                           data-disabled="{{ date.valide }}"
                                           data-intervention="{{ intervention.id }}">
                                            {% if intervention.activite == 'chantier' %}
                                                {{ intervention.chantier }}
                                                - {{ intervention.type }}
                                            {% else %}
                                                {{ intervention.activite }}
                                            {% endif %}
                                            - {{ intervention.heuresPlanifiees }}h
                                        </p>
                                    {% endfor %}

                                    {% if is_granted('ROLE_PLANNING_EDIT') or app.user.chefEquipe %}
                                    {% if not date.valide %}
                                        <button class="addInterventionButton"
                                                data-date="{{ date|format_datetime(pattern="yyyy-MM-dd") }}"
                                                data-disabled="{{ date.valide }}"
                                                data-poseur="{{ poseur.id }}">➕</button>
                                    {% else %}
                                        <span>✔️</span>
                                    {% endif %}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}


                    {# Valider les heures #}
                    {% if is_granted('ROLE_PLANNING_EDIT') or app.user.chefEquipe %}
                    <tr>
                        <td colspan="4">Validation planning</td>
                        {% for k,date in dates %}
                            <td>
                                <form action="{{ path('planning_valider') }}"
                                      onsubmit="return confirm('{{ date.valide ? 'Dévalider' : 'Valider' }} ?')"
                                      method="post">
                                    <input type="hidden" name="date" value="{{ date|format_datetime(pattern="yyyy-MM-dd") }}">
                                    {% if date.valide %}
                                        <button type="submit" name="valider" value="0">✔️ Dévalider</button>
                                    {% else %}
                                        <button type="submit" name="valider" value="1">❌ Valider</button>
                                    {% endif %}
                                </form>
                            </td>
                        {% endfor %}
                    </tr>
                    {% endif %}

                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>


<dialog onclick="event.target===this && this.close()">
    {# planning/edit.html.twig #}
</dialog>

<script>
    const modal = document.querySelector('dialog');
    const addButtons = document.querySelectorAll('.addInterventionButton:not([data-disabled="true"])');
    const showButtons = document.querySelectorAll('.showInterventionButton');

    addButtons.forEach(button => {
        button.addEventListener('click', () => {
            const date = button.dataset.date;
            const poseur = button.dataset.poseur;
            fetch('{{ path('planning_new') }}' + '?date='+date+'&poseur='+poseur)
                .then(response => response.text())
                .then(html => modal.innerHTML = html)
                .then(() => modal.showModal())
                .then(() => toto())
        });
    });

    showButtons.forEach(button => {
        button.addEventListener('click', () => {
            const id = button.dataset.intervention;
            const disabled = button.dataset.disabled;
            fetch('{{ path('planning_edit', {id:'XX'}) }}'.replace('XX', id))
                .then(response => response.text())
                .then(html => modal.innerHTML = html)
                .then(() => modal.showModal())
                .then(() => toto())
                .then(() => {
                    if (disabled) {
                        modal.querySelector('form').querySelectorAll('input,select,textarea,button').forEach(input => input.disabled = true);
                        modal.querySelector('form').querySelectorAll('button').forEach(input => input.style.display = 'none');
                    }
                })
        });
    });

    function toto() {
        const activite = modal.querySelector('#intervention_activite');
        const poseur = modal.querySelector('#intervention_poseur');
        const chantier = modal.querySelector('#intervention_chantier');
        const types = modal.querySelectorAll('[name="intervention[type]"]');
        chantier.tomselect.on ('change', () => chantier.tomselect.blur());
        poseur.tomselect.on ('change', () => poseur.tomselect.blur());
        activite.addEventListener('change', function () {
            if (activite.value === 'chantier') {
                chantier.disabled = false;
                types.forEach(type => {
                    type.disabled = false;
                    type.required = true;
                });
            } else {
                chantier.tomselect.clear();
                chantier.disabled = true;
                types.forEach(type => {
                    type.checked = false;
                    type.disabled = true;
                    type.required = false;
                });
            }
        });
        activite.dispatchEvent(new Event('change'));
    }
</script>
