<!DOCTYPE html>
<html class="h-full">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
          
        <title>{% block title %}Welcome!{% endblock %}</title>

        <!-- PWA -->
        <link rel="manifest" href="{{ asset('manifest.json') }}">
        <meta name="theme-color" content="#14b8a6">
        <script src="{{ asset('js/pwa.js') }}"></script>
        <link rel="icon" type="image/png" href="{{ asset('img/icon.png') }}">

        <link rel="stylesheet" href="{{ asset('css/main.css') }}">

        <!-- Dropzone -->
        <script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
        <link href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css" rel="stylesheet" type="text/css">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {{ encore_entry_link_tags('app') }}
        {% block stylesheets %}
        {% endblock %}

    </head>
    <body class="antialiased h-full bg-gray-100">

        <div class="">

        {% block body %}

            {{ include('parts/header.html.twig') }}
            {{ include('parts/menu.html.twig') }}
            {{ include('parts/flash.html.twig') }}

            <main class="py-10">
                <div class="px-4 sm:px-6 lg:px-8 space-y-8">
                    {% block content %}{% endblock %}
                </div>
            </main>   

            {{ include('parts/footer.html.twig') }}

        {% endblock %}

        </div>

        {{ encore_entry_script_tags('app') }}
        {% block javascripts %}
        {% endblock %}

    </body>
</html>
