<div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <div class="relative">

                <table class="mainTable">

                    <thead>
                    <tr>
                        {% from "parts/macros.html.twig" import thSort %}

                        <th scope="col" class="min-w-[12rem]">{{ thSort('nom', 'Certificat') }}</th>
                        <th scope="col">{{ thSort('user', 'Utilisateur') }}</th>
                        <th scope="col">{{ thSort('dateDebut', 'Date de début') }}</th>
                        <th scope="col">{{ thSort('DateFin', 'Date de fin') }}</th>
                        <th scope="col">Alerte échéance</th>
                        <th scope="col">
                            <span class="sr-only">Actions</span>
                        </th>
                    </tr>
                    </thead>

                    <tbody>

                    {% for certificat in certificats %}

                        <tr>
                            <td class="font-medium !text-gray-900">{{ certificat.nom }}</td>
                            <td>{{ certificat.user }}</td>
                            <td>{{ certificat.dateDebut ? certificat.dateDebut|date('d/m/Y') : '-' }}</td>
                            <td>{{ certificat.dateFin   ? certificat.dateFin|date('d/m/Y')   : '-' }}</td>
                            <td>{{ certificat.dateAlerteExpiration   ? certificat.dateAlerteExpiration|date('d/m/Y')   : '-' }}</td>
                            <td class="text-right font-medium sm:pr-3">
                                {% if is_granted('ROLE_CERTIFICAT_EDIT') %}
                                <a href="{{ path('certificat_edit', {'id': certificat.id}) }}" class="text-teal-600 hover:text-teal-900">Modifier<span class="sr-only">, {{ certificat.nom }}</span></a>
                                {% endif %}
                            </td>
                        </tr>

                    {% else %}
                        <tr>
                            <td colspan="99">Aucun certificat</td>
                        </tr>
                    {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
