{% set page  = search.page %}
{% set limit = search.limit %}
{% set count = search.count %}
{% set pages = max(1, (count / limit))|round(0, 'ceil') %}

{% set route = app.request.get('_route') %}
{% set params = app.request.query.all %}


<div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6">
    <div class="flex flex-1 justify-between">

        {% if page > 1 %}
            <a href="{{ path(route, params|merge({page: page-1})) }}" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Précédent</a>
        {% else %}
            <a href="" class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Précédent</a>
        {% endif %}

        <div class="flex items-center justify-between">
            <div>
                <p class="text-sm text-gray-700">
                    <span class="font-medium">{{ (page-1)*search.limit+1 }}</span>
                    à
                    <span class="font-medium">{{ min(count, page*search.limit-1) }}</span>
                    sur
                    <span class="font-medium">{{ count }}</span>
                </p>
            </div>
        </div>

        {% if page < pages %}
            <a href="{{ path(route, params|merge({page: page+1})) }}" class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Suivant</a>
        {% else %}
            <a href="#" class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50">Suivant</a>
        {% endif %}


    </div>
</div>
