<div>

    <form method="get">

        <input type="text" name="search" placeholder="Rechercher..." value="{{ search.search }}">

        {% if search.target == 'Reference' %}
            <select name="categorie">
                <option value="">Toutes les catégories</option>
                {% for categorie in getReferenceCategories() %}
                    <option value="{{ categorie }}" {{ categorie == search.categorie ? "selected" }}>{{ categorie }}</option>
                {% endfor %}
            </select>
        {% endif %}

        {% if search.target == 'Materiel' %}

            <select name="categorie">
                <option value="">Toutes les catégories</option>
                {% for categorie in getMaterielCategories() %}
                    <option value="{{ categorie }}" {{ categorie == search.categorie ? "selected" }}>{{ categorie }}</option>
                {% endfor %}
            </select>

{#            <select name="equipe">#}
{#                <option value="">Toutes les équipes</option>#}
{#                {% for equipe in getEquipes() %}#}
{#                    <option value="{{ equipe }}" {{ equipe == search.equipe ? "selected" }}>{{ categorie }}</option>#}
{#                {% endfor %}#}
{#            </select>#}

        {% endif %}



        <input type="submit" value="Go">

    </form>

</div>
