{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block content %}
    <div class="pageHeader">
      <div class="title">
        <h2>Gestion des utilisateurs</h2>
      </div>
      <div class="buttons">
        <a href="{{ path('user_new') }}" class="borderedButton">Ajouter un utilisateur</a>
      </div>
    </div>

    <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <div class="relative">
                <table class="mainTable">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Username</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>
                                <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                                <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
