{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block content %}


<div class="mb-8">
    <a href="{{ getReferer() }}" class="rounded-md bg-white px-3.5 py-2.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Retour à la liste</a>
</div>

<div class="overflow-hidden bg-white shadow sm:rounded-lg max-w-4xl mx-auto mb-6">
    <div class="px-4 py-6 sm:px-6 flex justify-between items-center">
      <div class="">
        <h3 class="text-xl font-semibold leading-7 text-gray-900"
          {% if user.disabled %}style="color: firebrick !important; text-decoration: line-through" {% endif %}>
          {{ user.materiel ? '⚒️' }}
          {{ user.nom }}
        </h3>
      </div>
      <div>
          {% if is_granted('ROLE_USER_EDIT') %}
          <a href="{{ path('user_edit', {'id': user.id}) }}"
             class="block rounded-md bg-teal-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-teal-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-teal-600">
            Modifier
          </a>
          {% endif %}
      </div>
  </div>
  <div class="border-t border-gray-100">
    <dl class="divide-y divide-gray-100">
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-900">Login</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ user.username }}</dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-900">Équipe</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ user.equipe }}</dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-900">Chef d'équipe</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ user.chefEquipe ? "OUI" : "NON" }}</dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-900">Conducteur de travaux</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ user.conducteurTravaux ? "OUI" : "NON" }}</dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-900">Taille</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ user.taille }}</dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-900">Pointure</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ user.pointure }}</dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-900">Permis</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ user.permis }}</dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-900">Personne à contacter</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{ user.personneAContacter }}</dd>
      </div>
      <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-900">Roles</dt>
        <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
          {% set allroles = getRoles() %}
          {% for group,roles in allroles %}
            <div>
              <ul>
                {% for role,label in roles %}
                  {% if user.hasRole(role) %}
                  <li class="flex items-center space-x-1">
                    <span class="ml-2">
                      {# ✅ #} {{ label }}
                      </span>
                  </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </div>
          {% endfor %}

        </dd>
      </div>
    </dl>
  </div>
</div>

  {{ include('user/_pret_materiel.html.twig') }}
  {{ include('user/_epis.html.twig') }}
  {{ include('user/_certificats.html.twig') }}

{% endblock %}
