{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block content %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Login</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Equipe</th>
                <td>{{ user.equipe }}</td>
            </tr>
            <tr>
                <th>Chef d'équipe</th>
                <td>{{ user.chefEquipe ? "OUI" : "NON" }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">back to list</a>

    {% if is_granted('ROLE_USER_EDIT') %}
    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
    {% endif %}

{% endblock %}
